body{ 
    background-color:#fdfaf5; 
    color:#3d3d3d; 
    font-family:Verdana,Arial,sans-serif; 
    line-height:1.6; 
} 
header{ 
    background-color:#1a5632; 
    color:#ffffff; 
    text-align:center; 
} 
h1{ 
    font-size:30; 
    letter-spacing:	1px; 
} 
h2{ 
    color:	#1a5632; 
    font-size:22px; 
} 
strong{ 
    color:#b5179e;
}
destaque{
    background-color:#fff4d6; 
    font-weight:bold;
    text-align:	center; 
} 
footer{ 
    background-color:#3d3d3d; 
    color:	#fdfaf5; 
    text-align:	center; 
}